/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&family=Viga&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --blue: #1C2E5C;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure it fills the viewport height */
    margin-bottom: 0; /* Ensure no gap at the bottom */
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    transition: 0.5s;
    overflow: hidden;
    margin-top:-5%;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    margin-left: 10px;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title,
.navigation ul li a .title1 {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li a .title1 {
    font-size: 20px;
    margin-top: 7%;
    margin-left: 10%;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(150, 150, 150, 0.2);
}
.logo-left {
    display: flex;
    align-items: baseline;
}

.logo-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; /* Push the logout button to the right side */
    margin-right: 15%;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 2%;
}

.viga-regular {
    font-family: "Viga", serif;
    font-weight: 400;
    font-style: normal;
}

.zilla-slab-highlight-regular {
    font-family: "Zilla Slab Highlight", serif;
    font-weight: 400;
    font-style: normal;
}

.zilla-slab-highlight-bold {
    font-family: "Zilla Slab Highlight", serif;
    font-weight: 700;
    font-style: normal;
}

.admin-icon {
    width: 63px;
    height: 63px;
    margin-top: 30%;
}

/* Time and Date Display Styling */
.time-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, #1C2E5C, #343536);
    color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
}

.admin-gradient {
    background: linear-gradient(to top, #1C2E5C, #343536);
    background-size: 500px 190px 120px;
    background-position: 0 0;
    height: 100px;
    padding: 0;
    margin: 0;
}

/* Logout Link Styling */
.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logout-text {
    margin: 0;
    font-size: 18px;
    margin-right: 8px;
}

.logout-icon {
    font-size: 35px;
    color: #da1b1b;
}
