/* Container for the left and right panels */
.row {
    display: flex;
    justify-content: center;  /* Center the panels horizontally */
    align-items: stretch;     /* Ensure both panels stretch to the same height */
    gap: 10px;
    max-width: 1200px; /* Control the max width */
    max-height: 500px;
    margin: 0 auto;  /* Center the row in the container */
    margin-top: 50px;
}

/* Left Panel */
.col-md-6:first-child {
    flex: 2;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow-y: auto; /* Scrollable content if necessary */
}

/* Right Panel */
.col-md-6:last-child {
    flex: 1;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Image inside the right panel */
img.img-fluid {
    max-width: 100%; /* Reduce image size */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text styling for left panel content */
.col-md-6:first-child h2 {
    font-size: 3rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

.col-md-6:first-child p {
    font-size: 1.2rem;
    color: #555;
    line-height: 2.5;
    margin-bottom: 1px;
}

/* Optional: Add hover effect on the panels */
.col-md-6 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.col-md-6:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* modal.css */

/* Borrow button style */
.btn-borrow {
    background-color: blue !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-weight: bold !important;
}

.btn-borrow:hover {
    background-color: darkblue !important;
}

/* Sneak Peek button style */
.btn-sneakpeek {
    background-color: green !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-weight: bold !important;
}

.btn-sneakpeek:hover {
    background-color: darkgreen !important;
}