.Settings_content {
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top_text h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtext h3 {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.sub_buttons {
    display: flex;
    gap: 10px;
}

.sub_buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #E0E0E0;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.sub_buttons button.active {
background-color: #343536;
color: white;
}

.sub_buttons button:hover {
    background-color: #343536;
    color: white;
}

/* Fines Table */
.fines_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fines_table th, .fines_table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.fines_table th {
    background-color: #536594;
    font-weight: bold;
    color: white;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.pagination button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f0f0f0;
}
#fines h3{
    margin-top: 20px;
}

