.history {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #222b42bb;
    height: 60px;
    align-items: center;
    color: white;
    width: 86%;
    margin-left: 90px;
    border-radius: 4px;
    
}

.sub_buttons {
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-group {
    display: flex;
    gap: 10px;
}


.top_text {
    padding-top: 50px;
}

.date-filter {
    margin-left: 100px;
    margin-right: auto; 
}

#date-dropdown {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 100px;
}

/* Inner shadow for the tables inside */
.table, .table1 {
    display: flex;
    justify-content: space-around;
    font-weight: 550;
    padding-top: 20px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

#info {
    display: flex;
    margin-top: 25px;
    font-weight: 400;
    color: #333;
}

.main-table {
   background-color: rgba(255, 255, 255, 0.671);
   width: 85%;
   margin-left: 95px;
   height: 100%;
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2);

   
   
}

.cancel-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.cancel-btn:hover {
    background-color: #e60000;
}

.action {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}



