.action-icons {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action-icons i {
    cursor: pointer;
    font-size: 18px;
}
.accept { color: green; }
.decline { color: red; }

td.action-icons i {
    background-color: #f0f0f0;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: 0.2s;
}
td.action-icons i.accept:hover {
    background-color: #c8f7c5;
}
td.action-icons i.decline:hover {
    background-color: #f7c5c5;
}


.notifications-container {
    max-width: 1300px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(28, 46, 92, 0.2);
    margin-top: 10%;
}

h2 {
    margin-bottom: 20px;
    color: #1C2E5C;
}

.tab-container {
    margin-bottom: 15px;
}

.tab-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ffffff;
}

.tab-list li {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #d0d0d0;
    border-bottom: none;
    transition: background-color 0.3s;
}

.return-btn {
    background-color: #4CAF50; /* green */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .return-btn:hover {
    background-color: #45a049;
  }
  
.tab-list li:hover {
    background-color: #e0e0e0;
}

.tab-list li.active {
    background-color: #e0e0e0; /* Example active color */
    color: rgb(110, 110, 110); /* Optional: change text color */
}


/* Custom class to make SweetAlert2 modal wider */
.wide-modal {
    width: 800px !important; /* adjust as needed */
    max-width: 90vw; /* ensures responsiveness */
  }
  

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ccc;

}

thead {
    background-color: #1C2E5C;
    color: white;
}

th {
padding: 12px;
border: 1px solid #ddd;
text-align: left;
color: #ffffff;
}
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    color: #343536;
}

tbody tr:hover {
    background-color: #f3f3f3;
}


.styled-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-btn:hover {
    background-color: #218838;
}

.styled-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(72, 180, 97, 0.5);
}
