.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.btn-action {
    flex: 1; /* Equal button sizes */
    max-width: 120px; /* Set max width for buttons */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-yes {
    background-color: #da1b1b;
    color: white;
    border: none;
}
.btn-yes:hover {
    background-color: #c21818;
}
.btn-no {
    background-color: #ccc;
    color: black;
    border: none;
}
.btn-no:hover {
    background-color: #bbb;
}